body {
  font-family: "Goblin One";
  background-image: url("https://res.cloudinary.com/pollie/image/upload/v1621034051/Million_Ridge_tkchwl.png");
  /* Center and scale the image nicely */
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  font-size:16px;
}

.border {
  border: 2px solid red;
  border-radius: 5px;
}

.container {
  font-size: 0.8em;
  min-height: 300px;
  width: 100%;
  background: LightGray;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  grid-template-areas:
    "header"
    "content"
    "footer";
}
.fullStack {
  background: LightSalmon;
  grid-area: header;
}

.d3 {
  background: PaleTurquoise;
  grid-area: content;
}

.webApps {
  background: lightpink;
  grid-area: footer;
}

.link {
  font-color: blue;
  font-size: 1.3em;
  background: rgba(128, 128, 128, 0.5);
}

.link:hover {
  background: rgba(255, 255, 255, 0.5);
}

.text {
  padding: 8px 12px;
  text-align: center;
  text-weight: bold;
  width: 100%;
  text-shadow: 2px 2px white;
}

.readable {
  background: rgba(128, 128, 128, 0.5);
  width: 50%;
}
.readable:hover {
  background: rgba(128, 128, 128, 0.9);
}

.responsive {
  width: 100%;
  height: auto;
}

#name {
  background: grey;
  grid-area: header;
}

@media (min-width: 300px) {
  .container {
    grid-gap: 5px;

  
    grid-template-areas:
      "header"
      "content"
      "footer";
  }
}

@media (min-width: 400px) {
  .container {
    grid-gap: 8px;
    grid-template-areas:
      "header"
      "content"
      "footer";
  }
}
@media (min-width: 900px) {
  .container {
    grid-template-areas:
      "header content footer";
  }
  .work {
    font-size:1.4em;
  }
}

@media (min-width: 1200px) {
  .container {
    grid-template-areas:
      "header content footer";
  }
  .work {
    font-size:1.6em;
  }
}